.hero-section {
	background-image: url("../../assets/banner-1.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 70vh;
	padding: 32px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}

.hero-title {
	font-size: 75px;
	font-weight: 800;
	line-height: 5rem;
}

.hero-des {
	color: dimgray;
	font-weight: 500;
}

.hero-section button {
	background: hsl(353, 100%, 78%);
	border: none;
	padding: 5px 12px;
	height: 40px;
	width: 120px;
	color: white;
	font-weight: 600;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

button:hover {
	background-color: black;
}
/* --- */
.featured-products {
	padding: 60px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.featured-products .head {
	display: flex;
}

.featured-products .head h2 {
	width: 40%;
	color: dimgrey;
}

.featured-products .head p {
	color: gray;
}

.products {
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.product {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: gray;
}

.categories-sec {
	padding: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* overflow: hidden; */
}

.categories-sec .category {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.categories-sec .circle {
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 1px solid gray; */
	box-shadow: rgba(127, 190, 228, 0.2) 2px 2px 8px 2px;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	overflow: hidden;
}

.category-products {
	display: flex;
	padding: 40px 40px;
}

.category-products .left {
	width: 20%;
	border-right: 1px solid rgb(215, 213, 213);
	padding: 20px;
}

.category-products .right {
	width: 80%;
	padding: 20px;
}

.category {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.left-container {
	font-size: 14px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.left-container h2 {
	font-size: 16px;
	font-weight: 500;
}

.categories-sec .link {
	text-decoration: none;
}
