.cart-product {
	border: 1px solid #eeeef1;
	border-right: none;
	border-left: none;
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 20px;
}

.cartimg img {
	width: 100px;
	height: 100px;
}

.cartpage {
	padding: 40px;
	display: flex;
	justify-content: space-between;
}
.cartpage .left {
	width: 60%;
}

.cartpage .right {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.cart-prod-desc {
	color: gray;
}

.cart-right {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.cartpage .cart-total {
	max-height: 300px;
	width: 300px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 12px;
}

.subtotal,
.cart-discount {
	padding: 10px 12px;
	border-bottom: 1px solid #eeeef1;
	display: flex;
	justify-content: space-between;
}

.cart-discount {
	color: crimson;
}
.payment {
	padding: 10px 12px;
	font-weight: 500;
	font-size: 24px;
}
