.hero-section {
	background-image: url("../../assets/banner-1.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 70vh;
	padding: 32px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}

.hero-title {
	font-size: 75px;
	font-weight: 800;
	line-height: 5rem;
}

.hero-des {
	color: dimgray;
	font-weight: 500;
}

.hero-section button {
	background: hsl(353, 100%, 78%);
	border: none;
	padding: 5px 12px;
	height: 40px;
	width: 120px;
	color: white;
	font-weight: 600;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

button:hover {
	background-color: black;
}
